{% load static %}
{% load socialaccount %}
<!-- {% load socialaccount %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <title>Tea Stall</title>
    <!--Menu img -->
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <!-- Button -->
    <style>
        .button {
            padding: 10px 15px;
            font-size: 24px;
            text-align: center;
            cursor: pointer;
            outline: none;
            color: #fff;
            background-color: #10b39d;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }

        .button:hover {
            background-color: #3e8e41
        }

        .button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    </style>
    <!-- Loader -->
    <style>
        /* body{
            background-color: rgb(63, 86, 216);
        } */
        #loader {
            width: 250px;
            height: 250px;
            background: url('../static/images/loader1.gif') no-repeat;
            background-size: 250px 250px;
            top: 25%;
            left: 40%;
            position: absolute;
        }

        #mainDiv {
            margin: 0;
            padding: 0;
            display: none;
        }

        /* Safari */
        @-webkit-keyframes spin {
            0% {
                -webkit-transform: rotate(0deg);
            }

            100% {
                -webkit-transform: rotate(360deg);
            }
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body onload="myFunction()">
    <div id="loader"></div>
    <div id="mainDiv">

        <!-- Start nav bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-fluid">
                <img src="{% static 'images/logo6.png'%}" style="height: 38px;" alt="">
                <!-- <i class="bi bi-cup text-white"></i> -->
                <a class="navbar-brand mx-2 text-white" href="#">Tea Stall</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if userc is none %}
                        <li class="nav-item">
                            <a class="btn btn-lg text-white" aria-current="page" href="/">Home</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="btn btn-lg text-white" aria-current="page" href="/home">Home</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="btn btn-lg text-white" href="/details">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-lg text-white" href="/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-lg text-white" href="/contact">Contact</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button type="button" class="btn btn-primary">Search</button> -->
                        {% if userc is none %}
                        <a href="/signup" class="btn btn-primary mx-2">Signup</a>
                        <!-- <button type="button" class="btn btn-primary mx-3" data-bs-toggle="modal"
                            data-bs-target="#signupModal">Signup</button> -->
                        <a href="/login" class="btn btn-warning">Login</a>
                        <!-- <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#loginModal">Login</button> -->
                        {% else %}
                        <a href="/updateprofile"><i class="bi bi-person text-white my-3"
                                style="font-size: 25px;"></i></a>
                        <div class="dropdown mx-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                {{userc}}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="/userlogout">Logout</a></li>
                            </ul>
                        </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </nav>
        <!-- End nav bar -->

        <center>
            {% if messages %}
            {% for message in messages %}
            <h6><div class="alert alert-primary" id="message_container">{{message}}</div></h6>
            {% endfor %}
            {% endif %}
        </center>

        <!-- Start Slide -->
        <div class="container my-3">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/teashop3.jpg'%}" class="d-block w-100" alt="..."
                            style="height: 650px; width: 200px;">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/Tea-1.jpg'%}" class="d-block w-100" alt="..."
                            style="height: 650px; width: 200px;">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/Tea2.jpg'%}" class="d-block w-100" alt="..."
                            style="height: 650px; width: 200px;">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- End Slide -->
        

        <!-- Menu -->
        <div class="container my-4">
            <center><a href="/menu"><img src="{% static 'images/menu3.jpg'%}" alt="menu1"
                        style="width: 300px; height: 400px;"></a></center>
            <center>
                <h1><i class="bi bi-arrow-up"></i></i>
            </center>
            <center><a href="/menu"><button class="button">Menu</button></a></center>
        </div>
        <!-- Menu -->

        <!-- Start Signup -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">Signup</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label for="validationServer01" class="form-label"><i
                                            class="bi bi-person-fill"></i>First name</label>
                                    <input type="text" class="form-control" id="validationServer01" name="stfirstname"
                                        style="outline-style: solid; outline-color: rgb(240, 240, 240);" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="validationServer02" class="form-label"><i
                                            class="bi bi-person-fill"></i>Last name</label>
                                    <input type="text" class="form-control" id="validationServer02" name="stlastname"
                                        style="outline-style: solid; outline-color: rgb(240, 240, 240);" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="validationServerUsername" class="form-label"><i
                                            class="bi bi-at"></i>Username</label>
                                    <div class="input-group has-validation">
                                        <span class="input-group-text" id="inputGroupPrepend3"
                                            style="outline-style: solid; outline-color: rgb(240, 240, 240);">@</span>
                                        <input type="email" class="form-control" id="validationServerUsername"
                                            aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
                                            name="username"
                                            style="outline-style: solid; outline-color: rgb(240, 240, 240);" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="validationServer02" class="form-label"><i
                                            class="bi bi-lock-fill"></i>Password</label>
                                    <input type="password" class="form-control" id="validationServer02" name="password"
                                        style="outline-style: solid; outline-color: rgb(240, 240, 240);" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="validationServer02" class="form-label"><i
                                            class="bi bi-lock-fill"></i>Conform Password</label>
                                    <input type="password" class="form-control" id="validationServer02" name="cpassword"
                                        style="outline-style: solid; outline-color: rgb(240, 240, 240);" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="validationServer03" class="form-label"><i
                                            class="bi bi-lock-fill"></i>City</label>
                                    <input type="text" class="form-control" id="validationServer03"
                                        aria-describedby="validationServer03Feedback" name="stcity"
                                        style="outline-style: solid; outline-color: rgb(240, 240, 240);" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="validationDefault05" class="form-label"><i
                                            class="bi bi-telephone-fill"></i>Mobileno</label>
                                    <input type="text" class="form-control" id="validationDefault05" name="mo"
                                        style="outline-style: solid; outline-color: rgb(240, 240, 240);" required>
                                </div>
                                <div class="col-md-3">
                                    <label for="validationCustom04" class="form-label">Gender</label>
                                    <select class="form-select" id="validationCustom04"
                                        style="outline-style: solid; outline-color: rgb(240, 240, 240);" required>
                                        <option selected disabled value="">Gender</option>
                                        <option>Gender</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Transgender</option>
                                    </select>
                                </div>
                                <!-- <label for="State">Gender</label> -->
                                <!-- <div class="col-md-3">
                                    <select id="gender" name="gender"
                                        style="outline-style: solid; outline-color: lightgray;">
                                        <option>Gender</option>
                                        <option>Male</option>
                                        <option>Female</option>
                                        <option>Transgender</option>
                                    </select>
                                </div> -->

                                <div class="col-mb-3">
                                    <label for="formFile" class="form-label"><i class="bi bi-image-fill"></i>Upload Your
                                        Photos</label>
                                    <input class="form-control" type="file" id="formFile" name="selectimages"
                                        style="outline-style: solid; outline-color: rgb(240, 240, 240);" required>
                                </div>
                                <div class="col-12">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2"
                                            style="outline-style: solid; outline-color: rgb(240, 240, 240);" required>
                                        <label class="form-check-label" for="invalidCheck2">
                                            <i class="bi bi-check"></i>Agree to terms and conditions
                                        </label>
                                    </div>
                                </div>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary" name="signup" value="signup"
                                        type="submit">Signup</button>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- End Signup -->

        <!-- Start login -->
        <form method="post">
            {% csrf_token %}
            <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLabel">Login</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label"><i
                                            class="bi bi-envelope-fill"></i>Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" name="username" required
                                        style="outline-style: solid; outline-color: rgb(240, 240, 240);">
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label"><i
                                            class="bi bi-key-fill"></i>Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        name="password" required
                                        style="outline-style: solid; outline-color: rgb(240, 240, 240);">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label"><i
                                            class="bi bi-key-fill"></i>Conform Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        name="cpassword" required
                                        style="outline-style: solid; outline-color: rgb(240, 240, 240);">
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                        style="outline-style: solid; outline-color: rgb(240, 240, 240);">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <div class="d-grid gap-2">
                                    <button class="btn btn-primary" name="login" value="login"
                                        type="submit">Login</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary"
                                data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- End login -->

        <!-- Footer -->
        <footer class="bg-success text-center text-white">
            <!-- Grid container -->
            <div class="container footer-container p-4">
                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                            <!-- <h5 class="text-uppercase">Links</h5> -->

                            <ul class="list-unstyled mb-0 ">
                                <div class="btn-group-vertical">
                                    <li>
                                        <a href="/home" class="btn btn-lg text-white">Home</a>
                                    </li><br>
                                    <li>
                                        <a href="/about" class="btn btn-lg text-white">About</a>
                                    </li><br>
                                    <li>
                                        <a href="/contact" class="btn btn-lg text-white">Contact</a>
                                    </li><br>
                                    <li>
                                        <a href="/suggestion" class="btn btn-lg text-white">Suggestions</a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <!--Grid column-->

                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-4 my-5">
                            <h4>Tea Stall<i class="bi bi-cup mx-1"></i></h4>
                            <p>Race Course Rd, creseant buillding, Rajkot, Gujarat 360001</p>
                            <!-- <p><strong>Email: </strong><a href="mailto:info@shilpan.in">info@shilpan.in</a><br /> -->
                            </p>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-4">
                            <ul class="footer-contact list-inline" style="line-height:25px;">
                                <li style="font-size: 18px;"><strong>Contact</strong></li><br>
                                <li style="font-size: 16px;">+91 9924444097</li><br>
                                <li style="font-size: 16px;">Race Course Rd, creseant buillding, Rajkot, Gujarat 360001
                                </li>
                                <br>
                                <li style="font-size: 16px;">Connect with Us:</li><br />
                                <!-- <li class="d-inline-block"><a href="https://www.facebook.com/shilpanbuilders/"
                                    target="_blank"><img src="images/social-icon/facebook.svg" class="img-fluid"></a>
                            </li> -->
                                <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/"
                                    role="button"><i class="bi bi-facebook"></i></a>
                                <a class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com/"
                                    role="button"><i class="bi bi-twitter"></i></a>
                                <a class="btn btn-outline-light btn-floating m-1" href="https://www.google.com/"
                                    role="button"><i class="bi bi-google"></i></a><br>
                                <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/"
                                    role="button"><i class="bi bi-instagram"></i></a>
                                <a class="btn btn-outline-light btn-floating m-1" href="https://www.whatsapp.com/"
                                    role="button"><i class="bi bi-whatsapp"></i></a>
                                <a class="btn btn-outline-light btn-floating m-1" href="https://www.telegram.com/"
                                    role="button"><i class="bi bi-telegram"></i></a>
                            </ul>
                        </div>

                </section>
                <!-- Section: Links -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2021 Copyright Tea Stall. All rights reserved.
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
        
    </div>

    <!-- Loader -->
    <script>
        var myVar;
        function myFunction() {
            myVar = setTimeout(showPage, 1000); //3000 ms
        }

        function showPage() {
            document.getElementById("loader").style.display = "none";
            document.getElementById("mainDiv").style.display = "block";
        }

    </script>
    <!-- Loader -->

    <!-- message -->
    <script>
        var message_ele = document.getElementById("message_container");

        setTimeout(function () {
            message_ele.style.display = "none";
        }, 4000);
    </script>
    <!-- message -->
</body>

</html>